<footer>
    <div class="f-info">
        <div class="f-info-socials">
         <a href="https://www.facebook.com/AirbnbIndia/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/airbnb/"> <i class="fa-brands fa-instagram"></i></a>
            <a>  <i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand">&copy: Test Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
<style>
    .f-info-socials a {
        color: inherit; /* Removes the default blue color */
        text-decoration: none; /* Removes the underline */
    }

    /* Optional: Customize the icon color on hover */
    .f-info-socials a:hover {
        color: #d93113; /* Change to any color you prefer */
    }
</style>